.SchedCard {
  background-color: white;
  margin-top: 90px;
  height: 900px;
  margin-left: 400px;
  width: 600px;
  margin-bottom: 100px; }

label {
  font-size: 20px; }

.chantee {
  width: 700px;
  height: 500px; }
