body {
  background: whitesmoke; }

.jumbotron-fluid img {
  height: auto;
  width: 100%;
  position: absolute;
  display: relative; }

.nav {
  background: transparent;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px; }
