.katiedit, .gabbye, .kate, .katetwo, .KH {
  width: 400px; }

.emily, .erin, .milkbathkate {
  height: 400px; }

.catt {
  width: 800px; }

.katethree, .kitty {
  width: 95%; }

.cat {
  width: 800px; }

.port {
  margin-top: 70px;
  margin-left: 43px;
  margin-right: 43px; }

.portfolio {
  padding: 5px; }

.jumbotron {
  background-color: white; }
