.Aboutform {
  margin-top: 100px;
  margin-left: 300px;
  margin-bottom: 200px;
  width: 400px; }
  .Aboutform label, .Aboutform input {
    margin: 10px; }
  .Aboutform .textarea {
    width: 400px;
    -webkit-height: 300px;
    -moz-height: 300px;
    -ms-height: 300px;
    height: 300px; }

.AboutCard {
  float: right;
  width: 260px;
  height: 400px;
  margin-top: 100px;
  margin-right: 300px;
  padding: 20px; }

.me {
  width: 220px; }
